.game-wrapper{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.joystick-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

}
.arrow {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 3.2rem solid transparent;
    border-right: 3.2rem solid transparent;

    color: white;

    border-bottom: 50px solid black;
    cursor: pointer;
}
.arrow:hover{
    border-bottom: 50px solid rgb(44, 143, 255);
}

.joystick-wrapper div:nth-of-type(2){
    transform: rotate(-90deg);
}
.joystick-wrapper div:nth-of-type(3){
    transform: rotate(90deg);
}
.joystick-wrapper div:nth-of-type(4){
    transform: rotate(180deg);
}
.pressed{
    border-bottom: 50px solid rgb(71, 243, 255);
}
.pressed:hover{
    border-bottom: 50px solid rgb(71, 243, 255);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
}
.header a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 8px 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.header a:hover {
    background-color: #fff;
    color: #222;
    border-color: #222;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #333;
    z-index: 1;
}

#logo {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #444;
    padding: 20px;
    height: 100vh;
    position: fixed;
    padding-right: 10px;
    top: 100px; /* Butonları ve menü butonlarını biraz aşağı kaydır */
}